extends layout
include modal

block content
    div(id="bruju-loading")
        .brujula
            img(src="images/brujula-01.svg")

        p.align-middle Buscando...

    .map
        include ../tok.iglesiadesaavedra.com/images/map.svg

    +modal("input_1", "Ingrese contraseña", "fa-key")
    +modal("input_2")
    +modal("input_3")
    +modal("input_4")
    +modal("input_5")

    .bible
        a(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            i.fas.fa-book
        .dropdown-menu(aria-labelledby="dropdownMenuLink")
            a.dropdown-item(id="v1") Salmos 46:10
            a.dropdown-item(id="v2") Filipenses 1:6
            a.dropdown-item(id="v3") Proverbios 17:17
            a.dropdown-item(id="v4") Juan 14:6
            a.dropdown-item(id="v5") Hechos 1:8

    +modal("v1", "Soberano | Salmos 46:10")
    +modal("v2", "Creación | Filipenses 1:6")
    +modal("v3", "Necesidad | Proverbios 17:17")
    +modal("v4", "Sacrificio | Juan 14:6")
    +modal("v5", "Ayuda | Hechos 1:8")