extends layout
include modal

block content

    .map
        //--
            .input-group.position-absolute.col-md-3.mb-3(id="search")
                //input( id="pac-input" class="controls" type="text" placeholder="Search Box")
                input.form-control(type="text" placeholder="Buscar..." aria-label="Recipient's username" aria-describedby="button-addon2")
                .input-group-append
                    button.btn.btn-secondary(type="button" id="button-addon2")
                        i.fas.fa-map-marker-alt

        include ../public/images/map.svg

    +modal("input_1", "Ingrese contraseña")
    +modal("input_2")
    +modal("input_3")